.top-bar {
    background: rgb(104, 206, 21) !important;
    border-bottom: 1px solid #334111 !important;
}
.main-menu-wrapper {
    background: #552b00;
    -webkit-box-shadow: 0px 13px 30px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 30px -12px rgba(0, 0, 0, 0.75);
}
.main-menu .navbar-collapse {
    background: #552b00;
}
.main-menu .navigation li a {
    background: #552b00;
    color: #f7f7f9;
}
.main-menu .navigation > li.current > a ,.main-menu .navigation > li:hover > a{
    color: rgb(104, 206, 21) !important;
}
.slides-pagination a {

    background: rgb(104, 206, 21);

}
.slides-pagination a.current {
    background: #552b00;
}
.top-bar p,ul.social-share li a {
    color: #552b00;

}
li > ul {
    background-color: #000 !important;
}